.Formulario {
  display: flex;
  flex-direction: column;
}

.btnEnviar {
  color: #888888;
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 148px;
  margin-top: 23px;
}

.ContainerRadio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.Validacao {
  color: red;
  font-size: 10px;
}
